.postContainer {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--bg-primary);
  height: 100%;
  min-height: 150px;
  max-height: 155px;
  width: 80%;
  min-width: 300px;
  max-width: 450px;
  padding: 5px 15px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 1px var(--bg-shadow);
}

.textContainer {
  grid-row: 1/5;
  text-shadow: 1px 1px 1px var(--color-shadow);
  font-size: clamp(19px, 2vw, 23px);
  font-weight: 700;
  color: var(--color-primary);
  letter-spacing: 1px;
    font-family: 'League Spartan', sans-serif;
}

.buttonAndDateContainer {
  grid-row: 5;
  display: flex;
  justify-content: space-between;
  color: var(--color-secondary);
  p {
    font-size: 12px;
  }
}

.likeContainer {
  display: flex;
  align-items: center;

  button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-primary);
    border-radius: 50%;
    border: none;
    margin-right: 5px;
    transition: ease-in 0.2s;
  }
  button:hover {
    background-color: var(--button-secondary);
    transform: scale(107%);
  }

  img {
    width: 15px;
    height: 17px;
  }
}
